extends layout

block content
    -var websitelist = websitedata
    //h1= title
    //p Welcome to our test

    // Wrapper
    #wrapper
        // Website LIST

        #websitelist
            div
                h2 Website Checker
                table
                    thead
                        th Website
                        th URL
                        th.centered Health
                        th.centered Delete?
                        tbody
                        each data in websitedata
                            tr
                                td!='<a href=/website/' + data._id + '/' + data.website + '>' + data.website + '</a>'
                                td=data.url
                                if data.health == "OK"
                                    td.centered!='<i class="fa fa-check-circle fa-2x" style="color:green">'
                                else
                                    td.centered!='<i class="fa fa-exclamation-circle fa-2x" style="color:red">'
                                td.centered!='<a href="#" class="linkdelwebsite" rel="' + data._id + '"> Delete </a>'
        // /Website LIST

        // ADD USER


        #addWebsite


            div
                p Add Website
                fieldset
                    input#inputWebsiteName(type='text', placeholder='Website')
                    input#inputWebsiteUrl(type='text', placeholder='URL')
                    button#btnAddWebsite Add Website
                    button#btnCrawlAll Crawl All
        #idInfo
            p#userId
        // /ADD USER

    // /WRAPPER
