extends layout

block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    -var statuslist = statusdata
        #statuslist
            div
                p.title!=title + '<a href="/">Zurück zur Liste</a>'
                <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Durchsuchen...">
                table#myTable
                    thead
                        tr.header
                            th Datum
                            th.centered Statuscode
                            th.centered Response Time
                    tbody
                        each data in statusdata
                            tr
                                td=data.date
                                if data.status == "200"
                                    td.centered!=data.status +' <i class="fa fa-check-circle fa-1x" style="color:green">'
                                else
                                    td.centered!=data.status +' <i class="fa fa-exclamation-circle fa-1x" style="color:red">'
                                td.centered=data.responsetime + ' ms'
                <br>
                a(href="/") Zurück zur Liste
